<header class="oldtext">
    <p>
        <a href="{{ site.baseurl }}/">
            <h1>
                {{ site.title }}
            </h1>
        </a>
        <a href="https://github.com/{{ site.github_username }}/{{ site.repo_name }}"
           title="Source Code"
           target="_blank"
        >
            <h4>
                Source Code <i class="fab fa-github"></i>
            </h4>
        </a>
        <a href="{{ site.baseurl }}/rest"
           title="REST API">
            <h4>
                REST API <i class="fas fa-code"></i>
            </h4>
        </a>
    </p>
</header>